body {
  background-color:#222;
}
.default-text {
  color:#FF3333;
  font-size: 30px;
}
.default-text.li {
    text-decoration: none;
    list-style: none;
}
.Header {
  padding:15px, 0, 15px, 0;
  border:1px solid #333;
  height:100px;
  width:100%;
  color:#fff;
}

ul {
  list-style: none;
  text-align: left;
  float:left;
  margin-left:30%;
}

.App {
  text-align:center;
  
}
/*.App-body {
  
}*/
.train-times {
  z-index: -1;
  animation:text-scroll infinite 15s linear;
}

.train-times2 {
  width: 100%;
  animation: text-scroll-horizontal infinite 15s linear;
  white-space: nowrap;
}

.trainArriving {
  animation: flashing-text infinite 1s linear;
  z-index: 2;
  
  

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  border:1px, solid, green;
  height: 50px;
  padding: 20px;
  color: white;
  float:left;

}
.App-name-2{
  float:left;
  padding-left:35%;
  padding-top:20px;
}

h1.trainArriving {
  font-size:5em;
  
}

.App-intro {
  font-size: large;
}

.page-title {
  position: absolute;
  top:20px;
  left:30px;
  float:left;
  color:#fff;
  
}
.dropdown {
  padding:20px;
  border-bottom:2px solid #333;
  z-index: 2;
  position:absolute;
  background-color: #222;
  width:100%;
  top:0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes flashing-text {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes text-scroll {
  0% {  
    transform: translateY(0);
    transition-timing-function: ease-out; 
    }
    30% {  
    transform: translateY(0);
    transition-timing-function: ease-out; 
    }
  to { 
    transform: translateY(-1500px);
    transition-timing-function: ease-out; 
   }
}

@keyframes text-scroll-horizontal {
  0% {  
    transform: translateX(0);
    transition-timing-function: ease-out; 
    }
    30% {  
    transform: translateX(0);
    transition-timing-function: ease-out; 
    }
  to { 
    transform: translateX(-1500px);
    transition-timing-function: ease-out; 
   }
}
